.container {
  padding: 80px;

  display: flex;

  .left {
    margin-right: 120px;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .subheading {
    font-size: 18px;
    font-weight: 200;
    color: #828282;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }


}