/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  line-height: 1.6;
  color: #333;
}

/* Navbar Styles */
nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Added for better wrapping */
}

nav ul li {
  margin: 0.5em; /* Adjusted for better spacing on small screens */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6347;
}

/* Section Styles */
section {
  padding: 1em 4em;
  background: white;
  margin: 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2, h3 {
  color: #333;
  /* margin-bottom: 10em; */
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-bottom: 1em;
}

/* Skills List Styles */
ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  background: #e7e7e7;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-radius: 4px;
}

/* Links */
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Contact Section Styles */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info p {
  margin: 0.5em 0;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  section {
    padding: 2em 1em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.25em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5em 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  section {
    padding: 1em 0.5em;
  }
}